<footer>
  <p>
    Built by
    <%= link_to 'Shatavia Virgies','http://example(myblog).com' %>
    <br>
    <strong>Backend Engineer at <%= link_to 'The Iron Yard - Nashville Campus', 'http://theironyard.com/locations/nashville/' %></strong>
  </p>
</footer>