@import "colors";

header#page-header {
  color: $secondary-color;
  background: $primary-color;
  padding: 5px;
  border-bottom: 3px solid lighten($primary-color, 10%);
  text-align: center;
  text-transform: uppercase;
}

h1 {
    text-align: center;
    text-transform: uppercase;
  }

footer#page-footer {
  color: $primary-color;
  background: $secondary-color;
  text-align: center;
  padding: 5px;
  border-top: 3px solid darken($secondary-color, 10%);
}

aside#sidebar {
  float: right;
  background: $secondary-color;
  width: 200px;
}

  img {
    float: left;
    margin: 0px 15px;
    border: 3px solid #F0F0F0;
    height: 250px;
    width: 200px;
  }

  a:link {
  	color: $link-color
  }

  a:visited {
  	color: $link-color
  }

  a:hover {
  	color: $mouse-over
  }

  p {
  	text-align: center;
  }